body {
  background-color: black;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-img {
  width: 50%;
  height: 50%;
}

.name {
  color: white;
  font-size: 20px;
}

.last-name {
  color: white;
  font-size: 15px;
  margin-left: 15px;
}

.nav-links {
  border-color: aqua;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  color: white;
}

.about {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.contact {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: white;
  cursor: pointer;
}

.foto-div {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.foto {
  width: 200px;
  height: 200px;
  border-radius: 40%;
  justify-content: center;
  display: flex;
}

.title-p {
  padding: 20px 0;
  color: white;
  text-align: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.title {
  font-family: "Volkhov", serif;
  font-size: 45px;
}

.p {
  font-family: "Poppins", sans-serif;
}

.contact-me {
  border: 2px solid gray;
  border-radius: 15px;
  padding: 10px 30px;
  background-color: black;
  cursor: pointer;
  color: white;
}
